In [1]:
import streamlit as st
import pandas as pd

In [2]:
data = pd.read_csv(".\diabetes_classification.csv")

In [3]:
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [4]:
columns = ['Glucose', 'BMI', 'Age', 'BloodPressure']
target = 'Outcome'

In [5]:
X = data[columns]
y = data[target]

In [6]:
X.head(2)

   Glucose   BMI  Age  BloodPressure
0      148  33.6   50             72
1       85  26.6   31             66

In [7]:
X_dummies = pd.get_dummies(X)

In [8]:
X_dummies.head()

   Glucose   BMI  Age  BloodPressure
0      148  33.6   50             72
1       85  26.6   31             66
2      183  23.3   32             64
3       89  28.1   21             66
4      137  43.1   33             40

In [9]:
#X_final = X_dummies.drop(['sex_male', 'smoker_no'], axis=1)

In [10]:
#X_final.head()
X_final = X_dummies

In [11]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X_final, y, random_state=42, test_size=0.2)

In [13]:
log_reg = LogisticRegression()

In [14]:
log_reg.fit(X_train, y_train)

LogisticRegression()

In [15]:
print(log_reg.score(X_test, y_test))

0.7402597402597403

In [16]:
import joblib

In [17]:
# saving the model
filename = 'finalized_model_diabetes.sav'
joblib.dump(log_reg, filename)

['finalized_model_diabetes.sav']

In [18]:
# Loading the model
loaded_model = joblib.load(filename)

In [19]:
# loaded_model.predict(X_test)

In [20]:
X_train.head()

     Glucose   BMI  Age  BloodPressure
60        84   0.0   21              0
618      112  28.2   50             82
346      139  28.7   22             46
294      161  21.9   65             50
231      134  46.2   46             80

In [22]:
glucose = 100
bmi = 28.2
age = 22
blood_pressure = 82
    
loaded_model.predict([[glucose, bmi, age, blood_pressure]])[0]

C:\ProgramData\Anaconda3\envs\dariusday2\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

0

In [23]:
!pip install pipreqs

Requirement already satisfied: pipreqs in c:\programdata\anaconda3\envs\dariusday2\lib\site-packages (0.4.11)
Requirement already satisfied: docopt in c:\programdata\anaconda3\envs\dariusday2\lib\site-packages (from pipreqs) (0.6.2)
Requirement already satisfied: yarg in c:\programdata\anaconda3\envs\dariusday2\lib\site-packages (from pipreqs) (0.1.9)
Requirement already satisfied: requests in c:\programdata\anaconda3\envs\dariusday2\lib\site-packages (from yarg->pipreqs) (2.27.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\envs\dariusday2\lib\site-packages (from requests->yarg->pipreqs) (1.26.8)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\envs\dariusday2\lib\site-packages (from requests->yarg->pipreqs) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\envs\dariusday2\lib\site-packages (from requests->yarg->pipreqs) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\programdata\anaconda3\envs\dariusday2\lib\site-packages (from requests->yarg->pipreqs) (2.0.12)

In [24]:
!pipreqs

INFO: Successfully saved requirements file in C:\Users\Admin\Documents\diabetes\requirements.txt